<div class="container">
     

    <div class="row">        
        <div class="col-12">
            <div class="card mt-4 shadow rounded-card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="title-content">TutorShip</h5>
                            <span class="bradgrounds">
                                <a href="/">Dashboard</a>
                                <a href="#">TutorShip</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

        <div class="col-12 col-md-12">
            <div class="card mt-4 shadow rounded-card">
                <div class="card-header rounded-card bg-success">
                    <h2 class="titulo">TUTOR SHIP</h2>
                </div>
                <div class="card-body">
                    <p class="descripcion">
                        Sistema de tutoría para la mejor aprendizaje para <b>ILP / ELP.
                        SYSTEM TUTORSHIPS</b>, será implementado en el área de tutoría ya que es esencial para ayudar a 
                        los estudiantes a alcanzar sus objetivos académicos y personales. Proporciona apoyo a los estudiantes que necesitan un enfoque y ayuda adicional para tener 
                        éxito en sus estudios.
                    </p>
                    <p class="descripcion">
                        El desarrollo del proyecto se realizo, con <b>SPRING BOOT - ANGULAR</b>.
                    </p>
                </div>                
            </div>
        </div>
    </div>
</div>