<nav class="navbar navbar-expand-lg bg-dark border-menu shadow-lg" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{ tituloPage }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Institucion">Institución</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/TipoPersona">Tipo Persona</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Persona">Persona</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cronograma Curso</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Detalle Curso</a>
          </li>          
        </ul>
      </div>
    </div>
  </nav>